.ad-leaderboard-container {
    margin: 0 auto;
    max-width: 1500px;
    padding: 20px;
    font-family: var(--font-montserrat);
    min-height: 100vh;
    color: #333;
    background: linear-gradient(180deg, #fdfbc9 54.1%, #f9d67b);
  }
  
  .leaderboard-header-image {
    width: 276px;
    height: 270px;
    display: block;
    margin: 30px auto;
  }
  
  .leaderboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .leaderboard-row {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease;
    background: linear-gradient(to right, #f0f0f0 0%, #ffffff 50%, rgba(0, 0, 0, 0) 100%);
  }
  
  .leaderboard-row:hover {
    transform: scale(1.05);
  }
  
  .leaderboard-row.first {
    background: linear-gradient(to right, #ffe600 0%, #ffeb3b 50%, rgba(0, 0, 0, 0) 100%);
  }
  
  .leaderboard-row.second {
    background: linear-gradient(to right, #c0c0c0 0%, #d3d3d3 50%, rgba(0, 0, 0, 0) 100%);
  }
  
  .leaderboard-row.third {
    background: linear-gradient(to right, #cd7f32 0%, #d8a169 50%, rgba(0, 0, 0, 0) 100%);
  }
  
  .leaderboard-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 3px solid white;
  }
  
  .leaderboard-name {
    flex-grow: 1;
    font-size: 20px;
    text-align: left;
    color: #333;
  }
  
  .leaderboard-points {
    font-size: 24px;
    font-weight: bold;
    color: maroon;
  }
  